/* LEAVE THESE */
html {
  height: 100%;
  width: 100%;
}

#blogcomments {
  text-align:center;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.reply{
  margin-left:50px;
}

/* NEW CSS HERE */

p {
font-size: 20px;
}
body {
  background-color:black;
  color:rgb(12, 230, 12);
}

body {
  background-image: url('Matrix.gif');
  background-size: width="1000px";
  background-position: center center;
  background-repeat: yes;
}

p {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

ul {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

h1 {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

h3 {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

img {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

h3 {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

h2 {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

h4 {
  background-color: black;
  padding: 2px 5px;
  border-radius: 3px;
}
